extends ../common/template

block page
    .container
        .row
            .col-sm-12
                .page-title
                    h1.heading
                        b Not found
                        br
                        | The page you are looking for is not found
                    div.margin-top-20
                        a(href="/").heading-link ⬅️ Go back
                .portfolio-wrap